body {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: rgba(0, 0, 0, 0.7);
}

a:visited {
  color: black;
}

.centered {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
